<div class="container">
    <img src="/images/FaleConosco.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão, fale conosco
        </p>
        <p>
            <span>
                <img src="/images/Email.png" />
            </span>
            <h5><email endereco="joaobrambati@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="/images/Telefone.png" />
            </span>
            <h5>(11) 99790-0875</h5>
            <br />
            <span>
                <img src="/images/Home.png" />
            </span>
            <h5>Rua B Cinco 77, Lagoa Funda, Guarapari, ES - 29214-130</h5>
        </p>
    </div>
</div>
